@tailwind base;
@tailwind components;
@tailwind utilities;


.flex-45 {
    flex: 0 1 47%;
    
}

img {
    height: 400px;
}

.loadng {
    border-top: 6px solid black;
    border: 5px solid transparent;
}

@keyframes donut-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .donut {
    display: inline-block;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: donut-spin 1.2s linear infinite;
    text-align: center;
  }

  .spinner {
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
  }