@tailwind base;
@tailwind components;
@tailwind utilities;


.flex-45 {
    flex: 0 1 47%;
    
}

img {
    height: 400px;
}

.loadng {
    border-top: 6px solid black;
    border: 5px solid transparent;
}